body {
    font-family: 'Tillana', cursive;
    background-image: url(avatar.jpg);
}

main {
    margin-top: 10vh;
}

#timer {
    background-color: #ffffe6;
    padding: 5px;
}

.col-6, .col-2 {
    display: flex;
    justify-content: center;
}

#main-content {
    background-color: #ffffe6;
    padding: 20px;
}

#highscores {
    background-color: #ffffe6;
    border: none;
}

#highscores:hover {
    background-color: #800000;
    color: white;
}

#start {
    background-color: #800000;
    border: none;
    color: #ffffe6;
}

#start:hover {
  background-color: black;  
}


ul {
    list-style-type: none;
}

li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:#800000;
    font-size: 1.5em;
    line-height: 1.5;
  }

  li:hover {
      background-color: black;
      color:white;
  }