body {
    font-family: 'Tillana', cursive;
    background-color: #f5f5f5;
}

main {
    margin-top: 10vh;
}

.col-6, .col-2 {
    display: flex;
    justify-content: center;
}

#start {
    background-color: lavender;
}

#start:hover {
    background-color: purple;
    color: white;
}